:root {
  --bar-color: azure;
}

body {
  margin: 0;
}

#board {
  text-align: center;
  padding: 0 0;
  margin: 20px auto;
  min-width: 480px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 150px 150px 150px 1fr;
  grid-template-rows: 100px 30px 150px 150px 150px 150px;
}

#header {
  grid-column: 1 / -1;
}

#optionBar {
  grid-column: 1 / -1;
}

.red {
  grid-column-start: 2;
}

#blender {
  grid-column: 2 / -2;
  background-color: aqua;
}
