:root {
  --bar-color: azure;
}

body {
  margin: 0;
}

h1 {
  margin: 20px auto;
  text-align: center;
}

#red {
  grid-column-start: 2;
  background-color: var(--bar-color);
}

#green {
  background-color: var(--bar-color);
}

#blue {
  background-color: var(--bar-color);
}

#board {
  text-align: center;
  padding: 0 0;
  margin: 20px auto;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 150px 150px 150px 1fr;
  grid-template-rows: 50px 150px 150px 150px;
}

#r1 {
  grid-column-start: 2;
}

#r2 {
  grid-column-start: 2;
}

#r3 {
  grid-column-start: 2;
}

.colorName {
  background-color: blue;
}
